# Computational Finance
## Series 12
Tientso Ning

In [75]:
import numpy as np
import pandas as pd

In [39]:
def bond_price(coupon, ytm, face, periods, maturity):
    '''
    determine the present value of the bond
    '''
    vcoupons = 0
    for i in range(periods):
        vcoupons += coupon/((1+ytm)**periods)
    vface = face/(1+ytm)**maturity
    return vcoupons+vface

In [40]:
#YTM 10%, 3 years maturity, face 100, coupons 10% semi-annually
print(bond_price(5,0.1,100,6,3))

92.06569799177106

In [10]:
time = [0.5,1.0,1.5,2.0,2.5,3.0]
coupon = [5,5,5,5,5,105]
data = pd.DataFrame({"time":time, "cash.flow":coupon})
data

   time  cash.flow
0   0.5          5
1   1.0          5
2   1.5          5
3   2.0          5
4   2.5          5
5   3.0        105

In [11]:
data["present.value"] = data["cash.flow"]*np.exp(-0.1*data["time"])
data

   time  cash.flow  present.value
0   0.5          5       4.756147
1   1.0          5       4.524187
2   1.5          5       4.303540
3   2.0          5       4.093654
4   2.5          5       3.894004
5   3.0        105      77.785913

In [12]:
data["present.value"].sum()

99.35744494713597

In [13]:
data["weight"] = data["present.value"]/data["present.value"].sum()
data

   time  cash.flow  present.value    weight
0   0.5          5       4.756147  0.047869
1   1.0          5       4.524187  0.045534
2   1.5          5       4.303540  0.043314
3   2.0          5       4.093654  0.041201
4   2.5          5       3.894004  0.039192
5   3.0        105      77.785913  0.782890

In [19]:
data["time.weight"] = data["time"]*data["weight"]
data

   time  cash.flow  present.value    weight  time.weight
0   0.5          5       4.756147  0.047869     0.023935
1   1.0          5       4.524187  0.045534     0.045534
2   1.5          5       4.303540  0.043314     0.064971
3   2.0          5       4.093654  0.041201     0.082403
4   2.5          5       3.894004  0.039192     0.097980
5   3.0        105      77.785913  0.782890     2.348669

In [41]:
print("Duration is: ",data["time.weight"].sum())

Duration is:  2.6634906669483684

In [68]:
B = data["present.value"].sum()
d = data["time.weight"].sum()
r = 0.10
C = ((d**2)*B*r)/(B*d*(r**2))
C

26.634906669483676

In [25]:
data["0.1shift"] = data["cash.flow"]*np.exp(-0.101*data["time"])
data

   time  cash.flow  present.value    weight  time.weight   0.1shift
0   0.5          5       4.756147  0.047869     0.023935   4.753770
1   1.0          5       4.524187  0.045534     0.045534   4.519665
2   1.5          5       4.303540  0.043314     0.064971   4.297089
3   2.0          5       4.093654  0.041201     0.082403   4.085475
4   2.5          5       3.894004  0.039192     0.097980   3.884281
5   3.0        105      77.785913  0.782890     2.348669  77.552905

In [27]:
print(data["0.1shift"].sum())

99.093185041964

In [28]:
99.093185041964-99.35744494713597

-0.2642599051719685

In [29]:
-99.093185041964*2.6634906669483684*0.001

-0.26393377351745884

# TODO: are these two values close enough??

In [30]:
data["1shift"] = data["cash.flow"]*np.exp(-0.11*data["time"])
data

   time  cash.flow  present.value    weight  time.weight   0.1shift     1shift
0   0.5          5       4.756147  0.047869     0.023935   4.753770   4.732426
1   1.0          5       4.524187  0.045534     0.045534   4.519665   4.479171
2   1.5          5       4.303540  0.043314     0.064971   4.297089   4.239469
3   2.0          5       4.093654  0.041201     0.082403   4.085475   4.012594
4   2.5          5       3.894004  0.039192     0.097980   3.884281   3.797861
5   3.0        105      77.785913  0.782890     2.348669  77.552905  75.486992

In [31]:
print(data["1shift"].sum())

96.74851155297912

In [34]:
96.74851155297912-99.35744494713597

-2.6089333941568498

In [33]:
-96.74851155297912*2.6634906669483684*0.01

-2.576887575625063

# TODO: We expect these values to vary more

In [72]:
print(-B*d*0.001+0.5*B*C*(0.001)**2)
print("vs")
print(-0.26393377351745884)

-0.2633144391719904
vs
-0.26393377351745884

In [73]:
print(-B*d*0.01+0.5*B*C*(0.01)**2)
print("vs")
print(-2.576887575625063)

-2.5140574594310636
vs
-2.576887575625063

# TODO: Why bother using an approximation??